h2 {
  font-family: 'Quantify';
  color: #EF7B15;
  padding-top: 30px;
}
h3 {
  font-family: 'Megante';
  font-weight: bold;
  font-size: 25px;
}

input, select {
  border-bottom: 2px solid #A7A7A7;
  border-top: none;
  border-right: none;
  border-left: none;
  background: none;
  width: inherit;
  outline: none;
}

select {
  margin-top: 6px;
}

label {
  margin: 0;
  font-family: 'Megante';
}

.mb {
  margin-bottom: 40px;
}

.mb-70{
  margin-bottom: 70px;
}

.mt-radio {
  margin-top: 10px;
}

.mt-radio label {
  margin-left: 10px;
  margin-right: 20px;
}

button, a {
  font-family: 'Megante';
  background-color: #EF7B15;
  text-transform: uppercase;
  border-radius: 50px;
  border: #EF7B15 1px solid;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
  transition: 0.3s ease;
  color: white;
}

button:hover, a:hover {
  background-color: #EF7B15;
  border: #EF7B15 1px solid;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

button:active,
button:focus,
button:visited, a:active, a:focus, a:visited {
  background-color: #EF7B15;
  border: #EF7B15 1px solid;
}

.colInfoLeft {
  border-right: solid 2px #6A6A6A;
}

.size{
   font-size: 16px;
}

 .center {
  display: flex;
  align-items: center;
}

strong {
  color: red;
}

p, a, button {
  font-family: 'Megante';
  font-size: 18px;
  font-weight: bold;
}

span {
  color: #6a6a6a;
  font-size: 14px;
}


.hide-page-numbers /deep/ .ngx-pagination li:not(.pagination-previous):not(.pagination-next) {
  display: none;
}

.hoursBooking {
  font-family: 'Megante';
  border: solid 1px #EF7B15;
  border-radius: 10px;
  background-color: #EF7B15;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.hoursBookingRadio {
  position: absolute!important;
  visibility: hidden!important;
  display: none!important;
}

.hoursBookingRadio:checked + label{
  color: white!important;
  background: #EF7B15!important;
  font-weight: bold!important;
}

.hoursBookingLabel {
  border: solid 1px #EF7B15;
  display: inline-block;
  margin: 2px;
  border-radius: 10px;
  overflow: hidden;
  font-family: 'Megante';
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
  margin: 0;
}

pagination-controls {
  font-size: 20px;
}

.sepHoursBooking {
  margin-left: 10px;
  margin-top: 25px;
  border-top: solid 2px #a7a7a7
}

.title {
  margin-top: 10px!important;

}
