<div class="row mt-5 mb-5">
    <div class="col-12 text-center">
        <h2>Modifier le mot de passe</h2>
    </div>
</div>

<div class="row">
    <form class="col-8 offset-2" [formGroup]="updatePassword" (ngSubmit)="onSubmitFormUpdatePassword()">
        <div class="row d-flex flex-column">
            <div class="input-field d-flex flex-row mb">
                <div class="input-field col-6">
                    <label for="oldPassword">Ancien de mot de passe</label>
                    <input required type="password" class="validate" id="oldPassword" formControlName="oldPassword">
                    <!-- <div class="messageError">
                    <sup>*</sup>Champ obligatoire
                </div> -->
                </div>
            </div>
        </div>
        <div class="row d-flex flex-column">
            <div class="input-field d-flex flex-row mb">
                <div class="input-field col-6">
                    <label for="newPassword">Nouveu mot de passe</label>
                    <input required type="password" class="validate" id="newPassword" formControlName="newPassword">
                    <!-- <div class="messageError">
                  <sup>*</sup>Champ obligatoire
              </div> -->
                </div>
                <div class="input-field col-6">
                    <label for="newPassword2">Rentrez à nouveau le mot de passe</label>
                    <input required type="password" class="validate" id="newPassword2" formControlName="newPassword2">
                    <!-- <div class="messageError">
                <sup>*</sup>Champ obligatoire
            </div> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 m-auto text-center">
                <button class="m-auto" id="btn" type="submit" [disabled]="updatePassword.invalid">Valider</button>
            </div>
        </div>
    </form>
</div>
